html, body, div, h1, figure, img, label, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.2px;
  text-align: center;
  background: transparent;
}

img {
  width: 100%
}

a {
  text-decoration: none;
}
