.auto-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auto-container > ul {
  display: flex;
  justify-content: flex-end;
  width: 445px;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: -35px;
  margin-bottom: 0;
}


.auto {
  text-align: right;
  list-style: none;
  cursor: pointer;
  width: 60px;
  padding: 4px;
  margin-left: 1px;
  margin-right: 2px;
  border-radius: 4px;
  color: #59ac5a;
  border: 1px solid #59ac5a;
  background-color: transparent;
  margin-bottom: 2px;
  opacity: 0.6;
}

.auto:hover {
  background-color: #59ac5a;
  color: #eee;
  border: 1px solid transparent;
  opacity: 1;
}

/* AutoComplete */

 .auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }

 #members-list {
   display: flex;
   padding-left: 27px;
   width: 445px;
   flex-wrap: wrap;
   margin-top: 3px;
 }

.teammate {
  background-color: #59ac5a;
  color: white;
  border: 1px solid transparent;
  opacity: 1;
}

.teammate:hover {
  background-color: #950828;
  color: #eee;
  border: 1px solid #82001b;
}
