#logout-dashboard {
  background-color: transparent;
  color: white;
}

.dashboard-header {
  background-color: #3e7293;
  padding-top: 0;
  padding-bottom: 0;
  height: 34px;
  border-bottom: 1px solid #212121;
  min-width: 750px;
}

.dashboard-header > h1 {
  color: white;
  font-size: 20px;
}
