#logout-dashboard {
  background-color: transparent;
  color: white;
}

.dashboard-body {
  background-color: #eee;
}

.dashboard-body-content {
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  background-color: #3e7293;
  padding-top: 0;
  padding-bottom: 0;
  height: 34px;
  border-bottom: 1px solid #212121;
  min-width: 750px;
  width: 100%;
  padding: 0;
}

.dashboard-header > h1 {
  color: white;
  font-size: 20px;
  margin-left: 2vw;
}

.dashboard-l-left {
  margin-left: 10vw;
}

.dashboard-logout {
  margin-right: 10vw;
}

.dashboard-l-left {
  height: 100%;
  align-items: center;
  display: flex;
  border-bottom: 3px solid #ed7d1a;
}

.dashboard-l-left > span {
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard-l-right {
  margin-right: 12vw;
}

.dashboard-l-right > a:hover {
  background-color: #4b974b;
}

.d-lower {
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-size: 1pc;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 750px;
  height: 55px;
}

.dashboard-l-right > a {
  background-color: #59ac5a;
  color: white;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 500;
  line-height: 1.5;
  font-family: open-sans, Helvetica, Arial, AppleEmoji, SegoeUIEmoji, EmojiOne, sans-serif;
  padding: 8px 10px;
  touch-action: manipulation;
  white-space: nowrap;
  transition: all .3s ease-out;
  text-rendering: auto;
  transition-property: background-color, color, opacity;
}

.project-index-header {
  padding-bottom: 60px;
  display: flex;
  padding: 5vw 12vw;
  color: #4f575e;
}

.project-index-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
  margin-left: 6px;
  color: #4f575e;
}

.fa {
  height: 20px;
  width: 20px;
  display: flex !important;
}

.projects-index-container {
  margin-left: 10vw;
}

.projects-index-container > ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.project-index-item {
  flex-direction: column;
  height: 140px;
  width: 333px;
  background: white;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: flex;
  margin-bottom: 40px;
  margin-right: 40px;
}

.project-index-item-header {
  border-bottom: 2px solid #efefef;
  display: flex;
  justify-content: space-between;
  padding: 6px 4px;
}

.project-index-item-title {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.project-index-item-title > a, .edit-title {
  line-height: 26px;
  font-size: 1pc;
  font-weight: 600;
  color: #3c4858;
  vertical-align: top;
  max-width: 177px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-index-item-title > a:hover {
  color: #2c6ebd;
}

.header-icon {
  width: 42px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-action-btns > span:hover, .close-modal:hover {
  background-color: #eee;
  cursor: pointer;
  border-radius: 2px;
}

.header-action-btns {
  display: flex;
}

.project-index-body > p {
  font-weight: 500;
  font-size: 14px;
  padding-left: 20px;
  color: #666;
}
