// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-container {
    height: 90vh;
    color: #555;
    border: 1px solid black;
    background-color: #212121;
    overflow: hidden;
    top: 61px;
    position: absolute;
    width: 100vw;
}
